In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(1,8):#will not take the last term
    print(i)

1
2
3
4
5
6
7

In [10]:
for i in range(1,8,4):#this is(start point ,end point,skip value)
    print(i)

1
5

In [11]:
l={"abc","def","xyz"}
for i in l:
    print(i)

abc
xyz
def

In [12]:
l=("abc","def","xyz")
for i in l:
    print(i)

abc
def
xyz

In [13]:
l={"abc","def","xyz"}
for i in l:
    print(i)

abc
xyz
def

In [14]:
d={}
d["ami"]=230
d["math"]=40
d["sns"]=52
print(d["ami"])
for i in d:
    print(i,d[i])

230
ami 230
math 40
sns 52

In [15]:
#printing strings while slicing it
s="Department"
# print(s):this will do the same
for i in s[2:6]:
    print(i)

p
a
r
t

In [16]:
#while loop
i=0
while i<6:
    print (i)
    i=i+1

0
1
2
3
4
5

In [17]:
def sq1(x):
    y=x*x
    return y
a= input("enter any value ") #by default the basic input value is always int
a=int(a,10) #to convert to integer
print(sq1(a))

25

# write a function to concatenate a string

def con(x,y):
s=x+y
return s

s1=input("enter string 1")
s2=input("enter string 2")
print("the concatenated strings are")
print(con(s1,s2))

# write a function to calculate x^y

In [19]:
def ex(x,y):
    ans=x**y
    return ans
a=input("enter an no.")
a=int(a,10)
b=input("enter an no.")
b=int(b,10)
print(a,"^",b,"=",ex(a,b))

2 ^ 3 = 8

In [ ]:
#if else in python
a=[10,20,30,40,50,60,70,80,90]
b=[]
c=[]
for i in a:
    if(i<=50):
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

[10, 20, 30, 40, 50]
[60, 70, 80, 90]

In [ ]:
#list comprehension
x=range(0,70,23)
for i in x:
    print(i)
a=[]
for i in x:
    if(i%2==0):
        y=i*i
        a.append(y)
print(a)

0
23
46
69
[0, 2116]

In [ ]:
#list comprehension
x=range(0,70,23)
a=[i*i for i in x if i%2==0]
print(a)

[0, 2116]

In [ ]:
#dictionary comprehension
x=range(0,70,23)
a={i:i*i for i in x if i%2==0}
print(a)

{0: 0, 46: 2116}

In [ ]:
#Lab problems
#1)Swap two integers a=67, b=89 without using third variable
a=20
b=30
a,b=b,a
print(a,b)

30 20

In [ ]:
#2)Declare a tuple x= (10,20,30) change the value of the tuple to x=(10,20, ‘apple’, ’orange’).
x=(10,20,30)
x=x[0:2]+("apple","orange")
print(x)

(10, 20, 'apple', 'orange')

In [ ]:
#3)Take user input as string (preferably your name) and count number of vowels and consonants present in the string
s=input("enter line\n")
c=0
c1=0
c2=0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='a' or i=='u':
        c=c+1
    elif i==' ':
        c2=c2-1
    else:
        c1=c1+1
            
print("no. of vowels are=",c)   
print("no. of consonents are=",c1-c2)

enter line
hi i am rohan
no. of vowels are= 5
no. of consonents are= 8

In [ ]:
#4)	Given an arbitrary integer, count the number of digits.
a=input("enter a no ")
a=int(a)
c=0
while a>0:
    a=a//10
   # print(a)
    c=c+1
   # print(c)
print(c)

enter a no 4567
4

In [7]:
#5 Write a function called subtract three that takes an integer or any number as input, and returns that number minus two.
def substractthree(a):
   return a-2
a=input("enter a no.")
a=int(a,10)
print(substractthree(a))

6

In [23]:
#6)	write a program which takes two lists as input L1= [4,1,2] and L2=[4,5,6]and create a new list which combines the elements of two lists if they are not equal as[(4,5),(4,6),(1,4),(1,5),(1,6),(2,4),(2,5),(2,6)]
l1 = [4,1,2]
l2 =[4,5,6]


nl=[]
for i in l1:
    for j in l2:
        if i!=j:
            nl.append((i,j))
    
print(nl)

[(4, 5), (4, 6), (1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6)]